:root{
    --bg-color-gray: #232323;
}

*,
*::before,
*::after{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html{
    font-size: clamp(
        0.7rem,
        0.65rem + 0.65vw,
        1.3rem
    );
}

body{
    background: var(--bg-color-gray);
}